@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Oswald:wght@300&display=swap');

#logo {
    height: 200px;
}

#logo :hover{
    background-color: #000000;
}

h1 {
    color: #000000;
    text-align:left;
    background-color: #ffffff;
    padding: 20px;
    font-family: 'Advent Pro', sans-serif;
  }

body{
    background-color: white;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Oswald', sans-serif;
}

section{
    float: left;
    width: 85%;
}

aside{
    float: right;
    width: 15%;
    background-color: #f1f1f1;
    height: 100vh;
    
}

footer{
    clear: both;
    background-color: #5c5b5b;
    color: white;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
}

li{
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    float: left;
    font-size: 20px;
    transition: 0.6s;
    cursor: pointer;
    font-family: 'Advent Pro', sans-serif;
}

#login{
    float: right;
}

ul {
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
    list-style-type: none;
    margin: 0;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Oswald', sans-serif;
  }

li:hover{
    color: #000000;
    background-color: #ffffff;
    outline: 3px solid #000000;
    padding: 10px;
    font-family: 'Advent Pro', sans-serif;
}

article{
    clear: both;
    padding-top: 20px;
}

#input{
    clear: both;
    font-size: 20px;
}

.in{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
}

#post{
    width: 400px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    font-family: 'Advent Pro', sans-serif;
}

#now{
    color: #000000;
    background-color: #ffffff;
    border: #000000;
    border-style: solid;
    padding: 7px;
    font-family: 'Advent Pro', sans-serif;
}

.list{
    clear: both;
}

button{
    width: 150px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    transition: 0.4s;
}
button:hover{
    background-color: tomato;
    color: black;
}